@*@model IEnumerable<EasyPort.Models.EasyPortData.IncomeExpenses>*@
@model IEnumerable<IGrouping<string, EasyPort.Models.EasyPortData.IncomeExpenses>>

@{
    ViewData["Title"] = "Income Expenses";
    DateTime s = ViewBag.sDate;
    DateTime e = ViewBag.eDate;
    decimal totalIncome = 0;
    decimal totalExpenses = 0;
    decimal totalOwing = 0;
    decimal totalPaid = 0;
    decimal totalCost = 0;
}

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        if (item.Key.ToUpper() == "INCOME")
        {
            totalIncome += item.Sum(c => c.Amount);
            totalCost += item.Sum(c => c.TotalCost);
        }
        else if (item.Key.ToUpper() == "EXPENSES")
        {
            totalExpenses += item.Sum(c => c.Amount);
        }
        else if (item.Key.ToUpper() == "OWING")
        {
            totalOwing += item.Sum(c => c.Amount);
        }
        else if (item.Key.ToUpper() == "PAYMENT")
        {
            totalPaid += item.Sum(c => c.Amount);
        }
    }
}

@section filter{ 
    <div class="search-text" style="float: right;">
        <form method="post" action="/IncomeExpenses/Index">
            <input type="hidden" id="sDate" name="sDate" value="@DateTime.UtcNow.ToString("dd/MM/yyyy")" />
            <input type="hidden" id="eDate" name="eDate" value="@DateTime.UtcNow.ToString("dd/MM/yyyy")" />
            <div class="input-con">
                <div id="reportrange" style="cursor: pointer; padding-top: 3px; font-size: 13px;">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
                <button type="submit">Get Record</button>
            </div>
        </form>
    </div>
}



<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">@ViewBag.Period</h4>
        </div>
        <div class="card-body">
            
            <div class="row">
                <dl class="col row" style="font-size: 14px;">
                    <dt class="col-sm-6">Total Income: </dt>
                    <dd class="col-sm-6">@totalIncome.ToString("n2")</dd>
                    <dt class="col-sm-6">Total Cost: </dt>
                    <dd class="col-sm-6">@totalCost.ToString("n2")</dd>
                    <dt class="col-sm-6">Total Expenses: </dt>
                    <dd class="col-sm-6">@totalExpenses.ToString("n2")</dd>
                </dl>
                <dl class="col row" style="font-size: 14px;">
                    <dt class="col-sm-6">Total Owing: </dt>
                    <dd class="col-sm-6">@totalOwing.ToString("n2")</dd>
                    <dt class="col-sm-6">Total Owing Payment: </dt>
                    <dd class="col-sm-6">@totalPaid.ToString("n2")</dd>
                </dl>
            </div>
            <hr />
            <div class="table-responsiv">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Purpose</th>
                        <th>Amount</th>
                        <th>Cost</th>
                        <th>Transaction Date</th>
                        <th>Date Uploaded</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td colspan="20"><b>@item.Key.ToUpper()</b></td>
                            </tr>
                            foreach (var itm in item.ToList())
                            {
                                <tr>
                                    <td>@itm.Purpose</td>
                                    <td>@itm.Amount.ToString("n2")</td>
                                    <td>@itm.TotalCost.ToString("n2")</td>
                                    <td>@itm.Date.ToString("MMM dd, yyyy")</td>
                                    <td>@itm.EntryDate.ToString("MMM dd, yyyy")</td>
                                </tr>
                            }

                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script type="text/javascript">
        $(function () {
            var start = moment('@s',"DD/MM/YYYY"); //moment();//.subtract(29, 'days');
            var end = moment('@e', "DD/MM/YYYY"); //moment();

            function cb(start, end) {
                //alert(start);
                $('#sDate').val(start.format('DD/MM/YYYY'));
                $('#eDate').val(end.format('DD/MM/YYYY'));
                $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                opens: 'left',
                autoApply: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });
    </script>
}




